.flexbox-layout
{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

figure
{
    max-width: 80%;

}

figcaption
{
    font-size: x-small;
}

.radio input:hover 
{
    transform: none;
}

table
{
    font-size: x-small;
}

.pronouns
{
    width: 60%;
}